html {
  height: 100%;
  background: radial-gradient(ellipse at bottom,#dbfeff 30%, #6ed3f4 70%);
  overflow: hidden;
}

.title {
 display:flex;
 align-items: center;
 justify-content: center;
 text-transform: uppercase;
 color:darkslategray
}

.birthdayForm {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.inputField {
  margin:2px;
  border-radius: 5px;
  text-align: center
}